body {
    font-family: "ralewayregular";
    padding: 50px;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* Header + menu */

.logo {
    width: 96px;
}

header {
    display: grid;
    grid-template-columns: min-content auto min-content;
 }

ul {
    list-style-type: none;
}
 .menu {
    display: flex;
    justify-content: flex-end;
    margin: 0px;
}

a {
    outline: none;
    text-decoration: none;
    color: black;
    padding: 0 68px;
}

a:hover {
    color: #0065FC;
}

.signup-hyperlink {
    color: #0065FC;
    font-weight: bold;
}

/* Search button */

.search-button {
    display: grid;
    grid-template-columns: min-content 234px min-content;
    align-items: stretch;
    grid-template-rows: 50px;
}
button {
    background-color: #0065FC;
    color: white;
    text-align: center;
    padding: 0px 19px 0px 19px;
    border-radius: 0px 15px 15px 0px;
    font-family: 'ralewayregular';
    font-weight: bold;
    border: none;
}

input {
    border: 2px #f2f2f2 solid;
    padding: 0px 17px 0px 17px;
    font-weight: bold;
    font-family: "ralewayregular"

}

.mapmarker {
    border: #f2f2f2 solid;
    padding: 0px 15px 0px 17px;;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Filters + logo info */

.filters-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.filter-money {
    border: #DEEBFF solid;
    background-color: #DEEBFF;
    padding: 15px;
    border-radius: 30px;
    color: #0065FC;
}

.filter-child {
    border: #DEEBFF solid;
    background-color: #DEEBFF;
    padding: 15px;
    border-radius: 30px;
    color: #0065FC;
}

.filter-heart {
    border: #DEEBFF solid;
    background-color: #DEEBFF;
    padding: 15px;
    border-radius: 30px;
    color: #0065FC;
}

.filter-pet {
    border: #DEEBFF solid;
    background-color: #DEEBFF;
    padding: 15px;
    border-radius: 30px;
    color: #0065FC;
}

.logo-info {
    border: 3px #F2F2F2 solid;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    color: #0065FC;
}

