body {
    font-family: "ralewayregular";
    padding: 50px;
}

/* Header + menu */

.logo {
    width: 96px;
}

header {
    display: grid;
    grid-template-columns: min-content auto min-content;
 }

ul {
    list-style-type: none;
}

.menu {
    display: flex;
    justify-content: flex-end;
    margin: 0px;
}

.menu-hyperlink {
    outline: none;
    text-decoration: none;
    color: black;
    padding: 0 68px;
}

.menu-hyperlink:hover {
    color: #0065FC;
}

.signup-hyperlink {
    outline: none;
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
}

h1 {
    font-family: "ralewaybold";
}

/* Search button */

.search-button {
    display: grid;
    grid-template-columns: min-content 234px min-content;
    align-items: stretch;
    grid-template-rows: 50px;
}
button {
    background-color: #0065FC;
    color: white;
    text-align: center;
    padding: 0px 19px 0px 19px;
    border-radius: 0px 15px 15px 0px;
    font-family: 'ralewayregular';
    font-weight: bold;
    border: none;
}

input {
    border: 2px #f2f2f2 solid;
    padding: 0px 17px 0px 17px;
    font-weight: bold;
    font-family: "ralewayregular"
}

/* Demander si je laisse en noir (moins ergonomique mais comme la maquette) ou en gris */
input::placeholder {
    color: black;
}

.mapmarker {
    border: #f2f2f2 solid;
    padding: 0px 15px 0px 17px;;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Filters + logo info */

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 30px;
    padding-top: 30px;
}

h3 {
    font-family: "ralewaybold";
}

.filters-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 24px;
    cursor: pointer;
}

.filter-logo {
    border: #DEEBFF solid;
    background-color: #DEEBFF;
    padding: 15px;
    border-radius: 30px;
    color: #0065FC;
}

.filter-button {
    display: grid;
    grid-template-columns: min-content max-content;
    border-top: 3px #f2f2f2 solid;
    border-right: 3px #f2f2f2 solid;
    border-bottom: 3px #f2f2f2 solid;
    border-radius: 30px;
}

.filter-button:hover {
    background-color: #0065FC;
    color: white;
    transition: background-color, 0.2s linear 0s;
    -webkit-transition: background-color, 0.2s linear 0s;
}

/* N'affecte que les paragraphes (<p>) qui sont dans la balise qui a la classe 'filter-button' grâce au chevron '>' */
.filter-button > p {
    padding: 0px 15px 0px 15px;
    font-family: "ralewaybold";
}

/* Logo info */
.logo-info {
    border: 3px #F2F2F2 solid;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    color: #0065FC;
}